[submodule "tests/unit/support/jspec"]
	path = tests/unit/support/jspec
	url = git://github.com/visionmedia/jspec.git
[submodule "tests/integration/support/expresso"]
	path = tests/integration/support/expresso
	url = git://github.com/visionmedia/expresso.git
